
/*SHORT MOVIE LIST*/
#homepage{
    padding: 0px 0 0px 0;
    background-image: none;
}
#homepage .short-movie{
    padding-top:68.5px;
    overflow: hidden;
    padding-bottom: 62.2px;
    background-image: url(../img/bg-inner-1.png);
    background-size: cover;
    background-position: center;
}
#homepage .short-movie-list{
    margin:80px 0 80px 0;
    overflow: unset;
}
#homepage .short-movie-list .swiper-wrapper{
    align-items: center;
}

#homepage .short-movie-list .short-movie-item img{
    display: block;
    margin: 0 auto;
    border: 5px solid #00E8FE;
    top: 0;
    height: 584px;
    width: 100%;
    object-fit: cover;
}
#homepage .short-movie-list .short-movie-item .img-box{
    display: block;
    position: relative;
}
#homepage .short-movie-list .short-movie-item .text-box{
    margin-top:77.6px;
    position: relative;
    min-height: 124px;
}
#homepage .short-movie-list .short-movie-item .text-box .title{
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: #000;

}

#homepage .short-movie-list .short-movie-item.swiper-slide-active .text-box{
    top: -33.6px;
}


#homepage .short-movie-list .short-movie-item .text-box .company{
    font-size: 17px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    margin-top:10px;
}


#homepage .short-movie-list .short-movie-item .img-box:before{
    content: "";
    transition: 0.5s;
    opacity: 0;
    transform: translate(-50%, -50%);
    left: 52%;
    top: 49.7%;
}
#homepage .short-movie-list .short-movie-item.swiper-slide-active .img-box:before{
    content: "";
    width: calc(100% + 58px);
    background-image: url(../img/phone.png);
    height: calc(100% + 58px);
    z-index: 1;
    position: absolute;
    background-size: 100% 100%;
    opacity: 1;
}

/*#homepage .short-movie-list .short-movie-item.swiper-slide-active:after{*/
/*    content: "";*/
/*    width: 101%;*/
/*    background-image: url(../img/bot.png);*/
/*    bottom: -34px;*/
/*    left: 49%;*/
/*    transform: translateX(-50%);*/
/*    position: absolute;*/
/*    z-index: 2;*/
/*    height: 63px;*/
/*    background-size: 100% 100%;*/
/*}*/

#homepage .short-movie-list .short-movie-item.swiper-slide-active .img-box:after{
    content: "";
    background-image: url(../img/new.png);
    width: 106px;
    height: 106px;
    top: -67px;
    left: -62px;
    position: absolute;
    z-index: 1;
}

#homepage .short-movie-list .short-movie-item.swiper-slide-active img{
    position: relative;
    border-radius: 25px;
    top: -10px;
    border: none;
    left: -2px;
    height: 654px;
    z-index: 1;
}

#homepage .short-movie-list .swiper-pagination{
    bottom:-35px;
}

#homepage .short-movie-list .swiper-pagination .swiper-pagination-bullet{
    width: 19px;
    height: 19px;
    margin:0 10px;
    background:#E2E2E2;
    opacity: 1;
}
#homepage .short-movie-list .swiper-pagination .swiper-pagination-bullet-active{
    background:#969696;
}

#homepage .mbutton{
    font-size: 23px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.83;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    width:fit-content;
    padding: 20px 67.2px 21.4px 70.3px;
    border-radius: 36px;
    background-image: linear-gradient(to bottom, #ff4c38, #ff8000);
    display: block;
    margin:0 auto;
}
#homepage .mbutton:hover svg{
    transform: translateX(10px);
}
#homepage .mbutton svg{
    margin-left:30px;
    transform: translateX(0);
    transition: .3s;
}

/*CALLING*/
#homepage .calling{
    background: #fff;
    border-top: solid 4px #000;
    border-bottom: solid 4px #000;
}
#homepage .calling .calling-inner{
    padding:65px 0 87.5px 0;
}

#homepage .calling .calling-inner .calling-list{
    margin: 145px 0 54.5px 0;
}

#homepage .calling .calling-inner .calling-list .swiper-wrapper{
    align-items: flex-end;
    left: -98px;
}


#homepage .calling .calling-inner .calling-list .calling-item img{
    transform:scale(1);
    transform-origin: bottom;
    box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.16);
    transition: 0.0s;
}

#homepage .calling .calling-inner .calling-list .calling-item.swiper-slide-active img{
    transform: scale(1.13);
}

#homepage .calling .calling-inner .calling-list .calling-item.swiper-slide-active{
    margin: 0 130px 0 91px !important;
}

/*PICKUP*/
#homepage .pickup{
    width: 100vw;
    background-image: url(../img/bg-inner-1.png);
    background-size: cover;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    background-position: center;
}

#homepage .pickup .pickup-inner{
    padding:50px 0 81px 0;
}

#homepage .pickup .pickup-inner .logo-list{
    background:#fff;
    padding:54px 0 29px 0;
    margin:46px 0 53px 0;
}

#homepage .pickup .pickup-inner .logo-list .logo-list-inner{
    max-width: 1098px;
    align-items: center;
    margin:0 auto;
    row-gap: 10px;
}

#homepage .pickup .pickup-inner .logo-list .logo-list-inner .logo-item{
    width: 220px;
}


#homepage .pickup .pickup-inner .company-articles .company-articles-inner{
    background:transparent !important;
}

#homepage .pickup .pickup-inner .company-articles .ttl{
    font-size: 26px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.77;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    margin-bottom:21px;
}

#homepage .pickup .pickup-inner .company-articles .articles-list .article-item{
    width: 350px;
}


/*MOVIE&INTERVIEW*/
#homepage .movies-interviews .movies-interviews-inner{
    padding: 55.6px 0 73.5px 0;
    background: #fff;
    overflow: hidden;
}
#homepage .movies-interviews .movies-interviews-inner .single-ttl span{
    text-align: left !important;
    padding-left:35.3px;
}

#homepage .movies-interviews .movies-interviews-inner .company-movie-list{
    margin-top: 160px;
    padding-bottom: 260px;
    position: relative;
}
#homepage .movies-interviews .movies-interviews-inner .company-movie-list .movie-item{
   /*width: 444px;*/
    position: relative;
}
#homepage .movies-interviews .movies-interviews-inner .company-movie-list .movie-item.swiper-slide-active{
    /*width: 636px;*/
    margin: 0 124px 0 96px !important;
}

#homepage .movies-interviews .movies-interviews-inner .company-movie-list .movie-item.swiper-slide-active:before{
    content: "";
    background-image: url(../img/new.png);
    width: 106px;
    height: 106px;
    top: -139px;
    left: -141px;
    position: absolute;
    z-index: 1;
}


#homepage .movies-interviews .movies-interviews-inner .company-movie-list .movie-item img{
    display: block;
    transform: scale(1);
    transition: .2s;
    height: 240px;
    object-fit: cover;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.16);
}
#homepage .movies-interviews .movies-interviews-inner .company-movie-list .movie-item.swiper-slide-active img{
    /*width: 636px;*/
    transform: scale(1.43);
    transform-origin: bottom;
}
#homepage .movies-interviews .movies-interviews-inner .company-movie-list .movie-item .box-text{
    margin-top: 20px;
    position: absolute;
    width: 100%;
}

#homepage .movies-interviews .movies-interviews-inner .company-movie-list .movie-item .title{
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: #000;
}


#homepage .movies-interviews .movies-interviews-inner .company-movie-list .movie-item .company{
    font-size: 17px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    margin-top: 10px;
}


#homepage .movies-interviews .movies-interviews-inner .company-movie-list .swiper-wrapper{
    align-items: flex-end;
    left: -98px;
}
#homepage .movies-interviews .movies-interviews-inner .company-movie-list .paginationn .swiper-pagination-bullet{
    width: 19px;
    height: 19px;
    margin: 0 10px;
    background: #E2E2E2;
    opacity: 1;
}
#homepage .movies-interviews .movies-interviews-inner .company-movie-list .paginationn .swiper-pagination-bullet-active{
    background: #969696;
}
#homepage .movies-interviews .movies-interviews-inner .company-movie-list .paginationn{
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 55px;
}

#homepage .mbutton.trans{
    color: #FF7E00;
    background: #fff;
    border: solid 2px #FF7E00;
}
#homepage .mbutton.trans svg path{
    fill:#FF7E00;
}

#homepage .movies-interviews .movies-interviews-inner .company-interviews{
    margin-top:72.4px
}

#homepage .movies-interviews .movies-interviews-inner .company-interviews .interviews-list{
    margin-top:47.2px;
    margin-bottom: 52.3px;
}

#homepage .movies-interviews .movies-interviews-inner .company-interviews .interviews-list .interviews-list-inner{
    max-width: 1494px;
    margin:0 auto;
    padding-bottom: 90px;
}


#homepage .hint-list .hint-list-inner .hint-item{
    position: relative;
    z-index: 0;
}

#homepage .movies-interviews .movies-interviews-inner .company-interviews .interviews-list .interviews-list-inner .interview-item:before{
    content: "";
    background-image: url(../img/new.png);
    width: 71px;
    height: 71px;
    top: 0px;
    left: -0;
    position: absolute;
    z-index: 1;
    background-size: cover;
}

#homepage .movies-interviews .movies-interviews-inner .company-interviews .interviews-list .interviews-list-inner .interview-item{
    position: relative;
    z-index: 0;
}
#homepage .movies-interviews .movies-interviews-inner .company-interviews .interviews-list .interviews-list-inner .interview-item .interview-item-inner{
    padding: 15.6px 16px 17.8px;
    border-radius: 9.3px;
    box-shadow: 5px 10px 10px 0 rgba(0, 0, 0, 0.1);
    background-color: #f7f7f7;
}

#homepage .movies-interviews .movies-interviews-inner .company-interviews .interviews-list .interviews-list-inner .paginationn {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0px;
}



#homepage .movies-interviews .movies-interviews-inner .company-interviews .interviews-list .interviews-list-inner .paginationn .swiper-pagination-bullet {
    width: 19px;
    height: 19px;
    margin: 0 10px;
    background: #E2E2E2;
    opacity: 1;
}

#homepage .movies-interviews .movies-interviews-inner .company-interviews .interviews-list .interviews-list-inner .paginationn .swiper-pagination-bullet-active {
    background: #969696;
}


#homepage .movies-interviews .movies-interviews-inner .company-interviews .interviews-list .interviews-list-inner .interview-item .avatar{
    margin:17px 0 15px 0;
}

#homepage .movies-interviews .movies-interviews-inner .company-interviews .interviews-list .interviews-list-inner .interview-item  .ttl{
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.65;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

#homepage .movies-interviews .movies-interviews-inner .company-interviews .interviews-list .interviews-list-inner .interview-item .tag-list{
    justify-content: flex-start;
    column-gap: 3px;
}

#homepage .movies-interviews .movies-interviews-inner .company-interviews .interviews-list .interviews-list-inner .interview-item .tag-list li a{
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.17;
    letter-spacing: 0.72px;
    text-align: left;
    color: #fff;
    padding: 3px 12px 2px 10px;
    border-radius: 17px;
    background-image: linear-gradient(to bottom, #ffaa89, #fea187 18%, #fd9d86 32%, #fb7d81 54%, #f74978);
}



#homepage .movies-interviews .movies-interviews-inner .company-interviews .interviews-list .interviews-list-inner .interview-item .text{
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    margin: 9px 0 5px 0;
    overflow-wrap: break-word;
}

#homepage .movies-interviews .movies-interviews-inner .company-interviews .interviews-list .interviews-list-inner .interview-item .readmore{
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.7px;
    text-align: center;
    color: #FF7E00;
    padding: 9.6px 0px 9.6px 0px;
    border-radius: 10.7px;
    border: solid 2px #FF7E00;
    display: block;
}

#homepage .movies-interviews .movies-interviews-inner .company-interviews .interviews-list .interviews-list-inner .interview-item .readmore:hover, #homepage .movies-interviews .movies-interviews-inner .company-interviews .interviews-list .interviews-list-inner .interview-item .readmore:hover{
    opacity:0.6;
}


#homepage .movies-interviews .movies-interviews-inner .company-interviews .mbutton{
    margin: 0 auto 0 auto;
}

#homepage .pickup .pickup-inner .hint h2{
    font-family: "Bebas Neue", serif;
    font-size: 108px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    position: relative;
    left: 36px;
}

#homepage .pickup .pickup-inner .hint .note{
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #000;
}

#homepage .pickup .pickup-inner .hint h2 img{
    width: 65px;
    position: relative;
    left: -11px;
    top: -4px;
}

#homepage .pickup .pickup-inner .hint .subt{
    font-size: 33px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.73;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    margin:11px 0 9px 0;
}
#homepage .pickup .pickup-inner .hint .text{
    font-size: 23px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.65;
    letter-spacing: normal;
    text-align: center;
    color: #000;
}

#homepage .pickup.tenshoku .pickup-inner{
    padding:27.4px 0 35px 0;
}

#homepage .hint-list{
    background: #fff;
    position: relative;
    z-index: 1;
    padding: 61px 0 0px 0;
}
#homepage .hint-list .hint-list-inner{
    margin: 0 auto 0 auto;
    max-width: 1463.5px;
    padding-bottom: 90px;
}

#homepage .hint-list .hint-list-inner .hint-item .hint-item-inner{
    padding: 15.6px 16px 17.8px;
    border-radius: 9.3px;
    box-shadow: 5px 10px 10px 0 rgba(0, 0, 0, 0.1);
    background-color: #f7f7f7;
}

#homepage .hint-list .hint-list-inner .hint-item{
    position: relative;
    z-index: 0;
}

#homepage .hint-list .hint-list-inner .hint-item:before{
    content: "";
    background-image: url(../img/new.png);
    width: 71px;
    height: 71px;
    top: 0px;
    left: -0;
    position: absolute;
    z-index: 1;
    background-size: cover;
}

#homepage .hint-list .hint-list-inner .paginationn {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0px;
}

#homepage .hint-list .hint-list-inner .paginationn .swiper-pagination-bullet {
    width: 19px;
    height: 19px;
    margin: 0 10px;
    background: #E2E2E2;
    opacity: 1;
}

#homepage .hint-list .hint-list-inner .paginationn .swiper-pagination-bullet-active {
    background: #969696;
}


#homepage .hint-list .hint-list-inner .hint-item .hint-item-inner .avatar{
    margin: 17px 0 15px 0;
}

#homepage .hint-list .hint-list-inner .hint-item .hint-item-inner .tag-list{
    justify-content: flex-start;
    column-gap: 3px;
}

#homepage .hint-list .hint-list-inner .hint-item .hint-item-inner .tag-list li a{
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.17;
    letter-spacing: 0.72px;
    text-align: left;
    color: #fff;
    padding: 3px 12px 2px 10px;
    border-radius: 17px;
    background-image: linear-gradient(to bottom, #ffaa89, #fea187 18%, #fd9d86 32%, #fb7d81 54%, #f74978);
}


#homepage .hint-list .hint-list-inner .hint-item .hint-item-inner .ttl{
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.65;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    margin-bottom: 38px;
}

#homepage .hint-list .hint-list-inner .hint-item .hint-item-inner .readmore{
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.7px;
    text-align: center;
    color: #FF7E00;
    padding: 9.6px 0px 9.6px 0px;
    border-radius: 10.7px;
    border: solid 2px #FF7E00;
    display: block;
}




#homepage .hint-list .mbutton{
    margin:33.2px auto 0 auto;
}

#homepage .hint-list .banner-home{
    margin: 167px auto 0 auto;
    max-width: 100%;
}


/* Popup Styles */
/* Popup */
.popup {
    display: none;
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 99;
}

.popup-content {
    width: 80%;
    max-width: 500px;
    padding: 25px 25px 40px 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.35);
    background-image: linear-gradient(to bottom, #fff, #ebebeb);
}


.popup-content .movie-ttl{
    font-size: 26px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.77;
    letter-spacing: 1.3px;
    text-align: center;
    color: #181818;
    margin: 43px 0 25px 0;
}

.popup-content .link-list{
    max-width: 928px;
    margin: 0px auto 0 auto;
    justify-content: center;
    gap: 20px;
}

.popup-content .link-list li a{
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.77;
    letter-spacing: 1.3px;
    text-align: center;
    color: #fff;
    display: block;
    padding: 8.6px 66px;
    border-radius: 35px;
    background-image: linear-gradient(to bottom, #000, #505050);
    width: fit-content;
    position: relative;
}

.popup-content .link-list li a img{
    position: absolute;
    max-width: 18px;
    top: 50%;
    transform: translateY(-50%);
    right: 35.7px;
    transition: .3s;
}

.popup-content .link-list li a:hover img{
    right:40.7px;
}

.close-btn {
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

.popup-movie-text {
    position: relative;
    /*min-height: 553px;*/
    padding: 0;
    border: 3px solid #00E8FE;
    background-color: #fff;
    width: 300px;
    height: 584px;
    margin:0 auto 0px auto;
    /*overflow: hidden;*/
}

#homepage .movies-interviews .movies-interviews-inner .popup-content{
    width: 80%;
    max-width: 1209px;
    padding: 25px 25px 40px 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.35);
    background-image: linear-gradient(to bottom, #fff, #ebebeb);
}

#homepage .movies-interviews .movies-interviews-inner .popup-movie-text{
    position: relative;
    /* min-height: 553px; */
    padding: 30.7px 27.5px 28.5px 28.1px;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.15);
    background-color: #fff;
    width: unset;
    border:none;
}


@media(max-width: 767px){
    #homepage .short-movie-list .short-movie-item img{
        height: 370px;
    }

    #homepage .short-movie-list .short-movie-item.swiper-slide-active img{
        height: 470px;
        border-radius: 20px;
    }
    #homepage .short-movie-list .short-movie-item.swiper-slide-active .img-box:before {
        width: calc(100% + 44px);
        height: calc(100% + 39px);
        left: 52%;
        top: 48.9%;
    }

    #homepage .short-movie-list .short-movie-item img{
        border: 2px solid #00E8FE;
    }

    #homepage .short-movie-list .short-movie-item.swiper-slide-active .img-box:after {
        width: 70px;
        height: 70px;
        background-size: cover;
        top: -55px;
        left: -48px;
    }

    #homepage .short-movie-list {
        margin: 60px 0 0px 0;
        padding-bottom: 94px;
    }
    #homepage {
        padding: 0px 0 0px 0;
    }
    #homepage .short-movie-list .swiper-pagination {
        bottom: 31px;
    }
    #homepage .short-movie-list .swiper-pagination .swiper-pagination-bullet {
        width: 15px;
        height: 15px;
        margin: 0 7.5px;
    }
    #homepage .mbutton{
        font-size: 17px;
        line-height: 31px;
        padding: 16px 52.3px 17.7px 54.6px;
    }

    #homepage .mbutton svg{
        width: 12.59px;
        margin-left: 13px;
    }
    #homepage .short-movie {
        padding-bottom: 46.2px;
    }

    #homepage .calling .calling-inner {
        padding: 36px 0 56px 0;
    }
    #homepage .calling .calling-inner .calling-list {
        margin: 48.4px 0 38.4px 0;
    }

    #homepage .short-movie-list .short-movie-item .text-box .title {
        font-size: 14px;
        line-height: 1.6;
    }

    #homepage .short-movie-list .short-movie-item .text-box .company {
        font-size: 15px;
    }

    #homepage .short-movie-list .short-movie-item.swiper-slide-active .text-box {
        top: -49.6px;
    }
    #homepage .calling .calling-inner .calling-list .calling-item.swiper-slide-active {
        margin: 0 31px 0 8px !important;
    }

    #homepage .calling .calling-inner .calling-list .calling-item.swiper-slide-active img {
        transform: scale(1.1);
    }

    #homepage .calling .calling-inner .calling-list .swiper-wrapper {
        left: 4px;
    }

    #homepage .pickup .pickup-inner {
        padding: 50px 26px 81px;
    }
    #homepage .pickup .pickup-inner .logo-list .logo-list-inner{
        justify-content: center;
        row-gap: 28px;
    }
    #homepage .pickup .pickup-inner .logo-list {
        background: #fff;
        padding: 48px 0 48px 0;
        margin: 30px 0 54px 0;
    }

    #homepage .movies-interviews .movies-interviews-inner .company-movie-list .movie-item img{
        height: 145px;
    }

    #homepage .pickup .pickup-inner .company-articles .articles-list{
        row-gap:21.4px;
    }
    #homepage .movies-interviews .movies-interviews-inner .company-movie-list .movie-item .title {
        font-size: 14px;
    }
    #homepage .movies-interviews .movies-interviews-inner .company-movie-list .movie-item .company {
        font-size: 15px;
    }

    #homepage .movies-interviews .movies-interviews-inner .company-movie-list .movie-item.swiper-slide-active img{
        transform: scale(1.2);
    }

    #homepage .movies-interviews .movies-interviews-inner .company-movie-list .movie-item.swiper-slide-active{
        margin: 0 49px 0 26px !important;
    }


    #homepage .movies-interviews .movies-interviews-inner .company-movie-list .swiper-wrapper{
        left: -25px;
    }

    #homepage .movies-interviews .movies-interviews-inner .company-movie-list {
        margin-top: 60px;
        padding-bottom: 190px;
    }

    #homepage .movies-interviews .movies-interviews-inner .company-movie-list .movie-item.swiper-slide-active:before {
        width: 60px;
        height: 60px;
        background-size: cover;
        top: -47px;
        left: -41px;
    }
    #homepage .movies-interviews .movies-interviews-inner .company-movie-list .paginationn{
        bottom: 33px;
    }

    #homepage .swiper-pagination-bullet{
        width: 15px !important;
        height: 15px !important;
    }

    #homepage .movies-interviews .movies-interviews-inner .company-interviews .interviews-list .interviews-list-inner {
        padding-bottom: 0px;
    }

    #homepage .pickup .pickup-inner .hint h2{
        font-size: 58px;
        left: 0;
    }

    #homepage .pickup .pickup-inner .hint h2 img {
        width: 39px;
        position: relative;
        left: 1px;
        top: -4px;
    }

    #homepage .pickup .pickup-inner .hint .subt {
        font-size: 17px;
        margin: 24px 0 9px 0;
    }

    #homepage .hint-list .banner-home {
        margin: 69px auto 0 auto;
    }

    #homepage .mbutton {
        font-size: 15px;
        padding: 11px 52.3px 11.7px 54.6px;
    }

    .footer .footer-inner .footer-end .copyright{
        text-align: center;
    }

    #homepage .movies-interviews .movies-interviews-inner .popup-content, .popup-content{
        padding: 30px 15px 30px;
    }

    #homepage .movies-interviews .movies-interviews-inner .popup-movie-text{
        height: 200px;
        padding: 0;
    }
    .popup-content .movie-ttl {
        font-size: 19px;
        margin: 23px 0 18px 0;
    }
    .popup-content .link-list li a{
        font-size: 14px;
        padding: 8.6px 30px;
    }

    .popup-content .link-list li a img {
        max-width: 14px;
        right: 10.7px;
    }
    .popup-movie-text iframe{
        height: 100%;
    }
    .popup-movie-text {
        position: relative;
        width: 100%;
        height: 446px;

    }

    #homepage .hint-list .hint-list-inner{
        padding-bottom: 0px;
    }

    #homepage .movies-interviews .movies-interviews-inner .company-interviews .interviews-list .interviews-list-inner .interview-item, #homepage .hint-list .hint-list-inner .hint-item{
        margin: 0 auto 40px !important;
    }

    #homepage .short-movie-list .short-movie-item .text-box{
        display:none;
    }
}