#interview .single-content .post-head{
    margin-bottom: 20px;
}

.tag-list{
    justify-content: flex-start;
    column-gap: 5.4px;
}

.tag-list li a{
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.15;
    letter-spacing: 1.2px;
    text-align: left;
    color: #fff;
    display: block;
    width: fit-content;
    border-radius: 24px;
    background-image: linear-gradient(to bottom, #ffaa89, #fea187 18%, #fd9d86 32%, #fb7d81 54%, #f74978);
    padding: 5px 23.6px 5.9px 20.9px;
}

.time-stamp{
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.4;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    position: relative;
    top: 7px;
}


#interview .single-content h1{
    font-size: 46px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    max-width: 1165px;
}

#interview .single-content .feature-img{
    margin-bottom:50px;
}

#interview .single-content .post-content h2{
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.94;
    letter-spacing: normal;
    text-align: left;
    color: #4e4e4e;
    padding-left: 33px;
    position: relative;
    z-index: 0;
    padding-top: 55px;
    width: calc(100% - 115px);
    margin: 0 0 25px auto;
}

#interview .single-content .post-content h2 span{
    font-size: 46px;
}

#interview .single-content .post-content h2:before{
    content: "";
    width: 7px;
    background-color: #ff7e00;
    height: 35%;
    left: 0;
    bottom: 16px;
    z-index: 1;
    position: absolute;
}

#interview .single-content .post-content p, #interview .single-content .post-content h3{
    font-size: 19px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.3;
    letter-spacing: normal;
    text-align: left;
    color: #4e4e4e;
    padding-left: 115px;
}

#interview .single-content .post-content h3{
    margin:70px 0;
    position: relative;
}
#interview .single-content .post-content img{
    margin:90px 0 60px;
}

#interview .single-content .feature-img-description p{
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.1;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    width: fit-content;
    margin: 0 auto;
}

#interview .single-content .post-content{
    margin-top:44px;
}

#interview .single-content .avatar-box{
    width: 87px;
    position: absolute;
    left: 0;
    top: 48px;
}
#interview .single-content .avatar-box p{
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #4e4e4e;
    margin-top:8px;
    padding-left: 0;
}

#interview .single-content .avatar-box img{
    margin:unset;
}

#interview .single-content .address p{
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #4e4e4e;
}


#interview .single-content .button-list{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 31px;
    margin-top:47px;
}

#interview .single-content .button-list li a{
    display: flex;
    width: 428px;
    padding:21px 0;
    font-size: 26px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    border-radius: 38px;
    background-image: linear-gradient(to bottom, #ffd746, #ffaf49 58%, #ff984c);
    justify-content: center;
}

#interview .single-content .button-list li a:hover{
    opacity: .7;
}

#interview .single-content .button-list li:nth-child(2) a{
    background-image: linear-gradient(to bottom, #58a0ff, #5888ff 45%, #5966ff);
}

#interview .single-content .company-name{
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    margin-top:26px;
    margin-bottom:35px;
}


#interview-archive .labo-inner{
    max-width:1031px;
    margin:80px auto 0;
}

#interview-archive .labo-inner h1{
    font-size: 34px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.76;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    margin-bottom: 10px;
}

#interview-archive .labo-list .labo-item .labo-item-inner .box-img{
    width: 308px;
}

#interview-archive .labo-list .labo-item .labo-item-inner .box-img img{
    height: 191px;
    object-fit: cover;
    object-position: center;
}

#interview-archive .labo-list .labo-item .labo-item-inner .box-text{
    width:calc(100% - 308px - 40px);
    position: relative;
    z-index: 0;
}

#interview-archive .labo-list .labo-item .labo-item-inner{
    padding:29px 0 41px;
    border-top:1px solid black;
}

#interview-archive .labo-list .labo-item:first-child .labo-item-inner{
    border-top:3px solid black;
}

#interview-archive .labo-list .labo-item:last-child .labo-item-inner{
    border-bottom:1px solid black;
}

#interview-archive .labo-list .labo-item .labo-item-inner .box-text h3{
    font-size: 28px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    margin-top:18px;
    max-width: 550px;
}
#interview-archive{
    padding: 80px 0 90px 0;
}
#interview-archive .labo-list .labo-item .labo-item-inner .box-text .tag-list{
    column-gap: 16px;
}

#interview-archive .labo-list .labo-item .labo-item-inner .box-text .tag-list li a{
    padding: 1px 27px 0px 24px;
    border-radius: 30px;
    background-image: linear-gradient(to bottom, #ff4e54, #ff7569);
}

#interview-archive .labo-list .labo-item .labo-item-inner .box-text .time-stamp{
    position: absolute;
    right: 0;
    top: 0;
}

#interview-archive .labo-list .labo-item .labo-item-inner .box-text .company-name{
    font-size: 28px;
    font-weight: 500;
    margin-top:15px;
    line-height: 1;
}

#interview-archive .pagination{
    display: block;
}

#interview-archive .pagination .nav-links{
    display: flex;
    justify-content: center;
    column-gap: 19px;
}

@media (max-width: 767px) {
    #interview-archive .labo-list .labo-item .labo-item-inner .box-img {
        width: 100%;
    }

    #interview-archive .labo-list .labo-item .labo-item-inner .box-text {
        width: 100%;
        position: relative;
        z-index: 0;
    }

    #interview-archive .labo-inner {
        margin: 40px auto 0;
    }

    #interview-archive .labo-inner h1 {
        font-size: 26px;
    }

    #interview-archive .labo-inner{
        padding: 0 20px;
    }

    #interview-archive .tag-list li a{
        padding: 1px 15px 0px 15px;
        font-size: 16px;
    }

    #interview-archive .labo-list .labo-item .labo-item-inner .box-text .tag-list{
        margin-top: 20px;
    }
    #interview-archive .labo-list .labo-item .labo-item-inner .box-text h3 {
        font-size: 20px;
    }

    #interview-archive .labo-list .labo-item .labo-item-inner .box-text .time-stamp {
        font-size: 15px;
        position: relative;
    }

    #interview-archive .labo-list .labo-item .labo-item-inner .box-text .company-name {
        font-size: 19px;
        margin-top: 6px;
    }
    #interview-archive .labo-list .labo-item .labo-item-inner .box-text .tag-list {
        column-gap: 10px;
    }

    #interview .single-content{
        padding: 40.5px 20px 56.5px;
    }

    .tag-list li a{
        font-size: 15px;
        padding: 5px 12px 5.9px;
    }

    .time-stamp{
        width: 100%;
    }

    #interview .single-content h1 {
        font-size: 29px;
        margin-bottom: 30px;
    }

    #interview .single-content .feature-img {
        margin-bottom: 40px;
    }

    .single #table-of-contents strong {
        font-size: 20px;
    }
    .single #table-of-contents ul li a{
        font-size: 15px;
    }
    .single #table-of-contents{
        padding: 20px 20px;
    }
    #interview .single-content .post-content h2 {
        font-size: 27px;
        padding-top: 35px;
        width: 100%;
    }

    #interview .single-content .post-content p {
        font-size: 16px;
        padding-left: 86px;
    }

    #interview .single-content .post-content img{
        margin: 40px 0 20px;
    }

    #interview .single-content .post-content h2:before{
        bottom:unset;
        top: 44px;
        height:34px
    }

    #interview .single-content .post-content h2 span {
        font-size: 34px;
    }

    #interview .single-content .post-content h3 {
        margin: 40px 0 10px;
        padding-left: 86px;
        font-size: 16px;
    }
    #interview .single-content .avatar-box {
        width: 65px;
    }
    #interview .single-content .avatar-box img{
        margin:0 0 0px 0;
    }
    #interview .single-content .avatar-box p{
        padding-left: 0;
        font-size: 13px;
    }

    #interview .single-content .address p {
        font-size: 16px;
    }

    #interview .single-content .button-list li a{
        width: 300px;
        font-size: 20px;
    }

    #interview .single-content .button-list{
        justify-content: center;
        row-gap: 20px;
    }

    #interview .single-content .company-name {
        font-size: 26px;
    }
}