#movie .movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1294px;
    margin:0 auto;
    row-gap: 34.7px;
}

#movie .movie-item{
    width: 48.8755%;
}



/* Pagination */
.pagination {
    text-align: center;
    margin: 20px 0;
}

.pagination a, .pagination span {
    padding: 10px 15px;
    margin: 5px;
    background: #ddd;
    text-decoration: none;
    border-radius: 5px;
}

.pagination .current {
    background: #333;
    color: white;
}

/* Popup */
#movie .popup {
    display: none;
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

#movie .popup-content {
    width: 80%;
    max-width: 1209px;
    padding: 23px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.35);
    background-image: linear-gradient(to bottom, #fff, #ebebeb);
}

#movie .close-btn {
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

/* Giới hạn kích thước video */
#movie .popup-movie-text {
    position: relative;
    min-height: 553px;
    padding: 30.7px 27.5px 28.5px 28.1px;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.15);
    background-color: #fff;
}

#movie .popup-movie-text iframe,
#movie .popup-movie-text video {
    min-height: 626px;
}